.app_blogs {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

@media screen and (min-width: 1201px) and (max-width: 1920px) {

}

@media screen and (min-width: 851px) and (max-width: 1240px) {

}

@media screen and (min-width: 651px) and (max-width: 850px) {
    .app_blogs {
        margin-top: 0;
        width: 95%;

    }
}

@media screen and (max-width: 650px) {
    .app_blogs {
        flex-direction: column;
        margin-top: 0;
    }
}