.app_hero {
    min-height: 600px;
    height: 100%;
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_box {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
    gap: 20%;
    margin-top: -8em
}

.hero_text {
    font-size: var(--hero-font);
    font-family: var(--primary-font);
    font-weight: 300;
    width: auto;
    width: 70%;
    line-height: 1.5;
    margin-bottom: 30px;
}

.hero_content-text {
    font-family: var(--content-font);
    font-size: 30px;
}

.action_btn {
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 10px 20px;
    height: 74px;
    width: 12em;
    margin: 35px 0 0;
    text-transform: uppercase;
}






