.app_category {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper_box {
    margin: 0 60px;
    width: 80%;
    margin-right: -1em;
}

.category_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 1201px) and (max-width: 1920px) {

}

@media screen and (min-width: 851px) and (max-width: 1240px) {

}

@media screen and (min-width: 651px) and (max-width: 850px) {

}

@media screen and (max-width: 650px) {
    .swiper_box {
        margin: auto 0;
        width: 90%;
        height: 300px;
    }
}