.app_about {
    min-height: 600px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    width: 100%;
    height: 600px;
    /* background-image: url(https://assets.api.uizard.io/api/cdn/stream/c8515796-8789-48b2-9884-dec4cd6778f4.jpg); */
    /* background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
    opacity: 1;
    border: 0px; */
    overflow: hidden;
}

.about_img {
    height: 75em;
    margin-top: -25em;
}

@media screen and (min-width: 1201px) and (max-width: 1920px) {

}

@media screen and (min-width: 851px) and (max-width: 1240px) {

}

@media screen and (min-width: 651px) and (max-width: 850px) {
    .app_about {
        min-height:100%;
    }

    .about-img {
        height: 1000px
    }

    .about_img {
        height: 75em;
        margin-top: -10em;
    }
}

@media screen and (max-width: 650px) {
    .app_about {
        min-height:100%;
    }

    .about-img {
        height: 600px
    }

    .about_img {
        height: 35em;
        margin-top: 3em;
    }
}