.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0 10px 0;
   height: 70px;
   width: 90%;
   margin: 0  auto;
   /* box-shadow: 1px 2px 2px #444; */
}

.nav-container{
   background-color: #fff;
   position: fixed;
   /* margin: 0 60px; */
   display: flex;
   width: 98%;
   top: 0px;
   z-index: 222;
}
.navbarLogo {
   cursor: pointer;
   background-image: url("https://assets.api.uizard.io/api/cdn/stream/81711725-17fb-46dd-a435-2809e9e53519.png");
   background-position: center center;
   background-size: contain;
   background-repeat: no-repeat;
   border-radius: 0px;
   opacity: 1;
   border: 0px none;
   width: 150px;
   height: 30px;
}

nav {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
   height: 100%;
   z-index: 2222;
}

.links {
   cursor: pointer;
}

.navicon {
   display: flex;
   align-items: center;
   justify-content: center;
}

nav > ul{
   width: 100%;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15%;
}

button {
   outline: none;
   border: none;
   background: transparent;
   margin: 0 10px;
   position: relative;
}

button p {
   position: absolute;
   top: -1;
   top: 7px;
   right: -10px;
}

@media screen and (min-width: 1201px) and (max-width: 1920px) {

}

@media screen and (min-width: 851px) and (max-width: 1240px) {

}

@media screen and (min-width: 651px) and (max-width: 850px) {

}

@media screen and (max-width: 650px) {
   .nav-container {

   }
   
   nav {
      display: none;
   }
}