.group_link {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content:flex-start; */
    /* text-align: left; */
    width: 15%;
    gap: 10px;
}

.head {
    font-size: 1.3em;
    font-family: var(--content-font);
    color: #a6a5a5;
    list-style: none;
}

.link {
    font-family: var(--primary-font);
    font-size: 1.3em;
    text-align: left;
}

.link a {
    font-family: var(--primary-font);   
    align-items: left;
}

@media screen and (min-width: 1201px) and (max-width: 1920px) {

}

@media screen and (min-width: 851px) and (max-width: 1240px) {

}

@media screen and (min-width: 651px) and (max-width: 850px) {
    .group_link {
        width: 20%;
    }

    .link {
        font-size: 1em;
    }
}

@media screen and (max-width: 650px) {
    .group_link {
        width: 100%;
    }

    .link {
        font-size: 1em;
    }
}