.container {
   margin: 0 60px;
   display: flex;
   height: 100%;
   width: 100%;
}

.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.sub-head {
   font-family: var(--primary-font);
   color: var(--primary-color);
   font-size: var(--Subhead-font-size);
   font-weight: 300;
   margin: 0.5em
}

.pages {
   margin-top: 5em;
}
@media screen and (min-width: 651px) and (max-width: 850px) {
   .sub-head {
      font-size: 3em;
  }
}

@media screen and (max-width: 650px) {
   .container {
      margin: 0 20px;
   }

   .sub-head {
      font-size: 2em;
  }
}
