@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital@0;1&display=swap');

:root {
   --primary-font: 'Playfair Display', serif;
   --content-font: 'Inter', sans-serif;

   --primary-color: rgb(3, 3, 3);
   --sec-color: #fff
   --logo: "https://assets.api.uizard.io/api/cdn/stream/81711725-17fb-46dd-a435-2809e9e53519.png";

   --Subhead-font-size: 5em;
   --category-font-size: 2em;
   --hero-font: 85px;
}

* {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
}

.link , a {
   text-decoration: none;
   color: inherit;
}


@media screen and (min-width: 1201px) and (max-width: 1920px) {

}

@media screen and (min-width: 851px) and (max-width: 1240px) {

}

@media screen and (min-width: 651px) and (max-width: 850px) {

}

@media screen and (max-width: 650px) {

}